@using bobbySaxyKennel.Models.ClassModel
@using Microsoft.AspNet.Identity
@{
    var categories = new Categories().List().Take(4);
}


<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from rexbd.net/html/renten/demo/car-list-one.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 22 Jul 2019 13:20:11 GMT -->
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Renten - Car Rental Service HTML Template</title>
    <!-- site favicon -->
    <link rel="shortcut icon" type="image/png" href="~/car/assets/images/favicon.jpg" />
    <!-- fontawesome css link -->
    <link rel="stylesheet" href="~/car/assets/css/fontawesome.min.css" />
    <!-- bootstrap css link -->
    <link rel="stylesheet" href="~/car/assets/css/bootstrap.min.css" />
    <!-- lightcase css link -->
    <link rel="stylesheet" href="~/car/assets/css/lightcase.css" />
    <!-- animate css link -->
    <link rel="stylesheet" href="~/car/assets/css/animate.css" />
    <!-- nice select css link -->
    <link rel="stylesheet" href="~/car/assets/css/nice-select.css" />
    <!-- datepicker css link -->
    <link rel="stylesheet" href="~/car/assets/css/datepicker.min.css" />
    <!-- wickedpicker css link -->
    <link rel="stylesheet" href="~/car/assets/css/wickedpicker.min.css" />
    <!-- jquery ui css link -->
    <link rel="stylesheet" href="~/car/assets/css/jquery-ui.min.css" />
    <!-- owl carousel css link -->
    <link rel="stylesheet" href="~/car/assets/css/owl.carousel.min.css" />
    <!-- main style css link -->
    <link rel="stylesheet" href="~/car/assets/css/main.css" /> 
    @RenderSection("css", required: false)
</head>
<body>

    <!-- preloader start -->
    <div id="preloader"></div>
    <!-- preloader end -->
    <!--  header-section start  -->
    <header class="header-section">
        <div class="header-top">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-3">
                        <ul class="social-links">
                            <li><a href="~/car/#0"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="~/car/#0"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="~/car/#0"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="~/car/#0"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul class="header-info d-flex justify-content-center">
                            <li>
                                <i class="fa fa-map-marker"></i>
                                <p>Medino, NY 10012, USA Mitro Road</p>
                            </li>
                            <li>
                                <i class="fa fa-clock-o"></i>
                                <p>Sat - Fri Day 08:00 am - 5.00 pm Sunday Holyday</p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3">
                        <div class="header-action d-flex align-items-center justify-content-end">
                            <div class="lag-select-area">
                                <select>
                                    <option>ENG</option>
                                    <option>RUS</option>
                                    <option>BAN</option>
                                </select>
                            </div>
                            <div class="login-reg">
                                <a href="~/car/#0">Sign Up</a>
                                <a href="~/car/#0">Sign in</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom">
            <div class="container">
                <nav class="navbar navbar-expand-lg p-0">
                    <a class="site-logo site-title" href="~/car/home-one.html"><img src="~/car/assets/images/logo1.png" alt="site-logo" /><span class="logo-icon"><i class="flaticon-fire"></i></span></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="menu-toggle"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav main-menu mr-auto">
                            <li class="menu_has_children">
                                <a href="~/car/#0">Home</a>
                                <ul class="sub-menu">
                                    <li><a href="~/car/home-one.html">Home One</a></li>
                                    <li><a href="~/car/home-two.html">Home Two</a></li>
                                </ul>
                            </li>
                            <li><a href="~/car/about.html">About</a>
                            </li>
                            <li class="menu_has_children">
                                <a href="~/car/#0">cars</a>
                                <ul class="sub-menu">
                                    <li><a href="~/car/car-list-one.html">car list one</a></li>
                                    <li><a href="~/car/car-list-two.html">car list two</a></li>
                                </ul>
                            </li>
                            <li class="menu_has_children">
                                <a href="~/car/#0">pages</a>
                                <ul class="sub-menu">
                                    <li><a href="~/car/reservation.html">reservation</a></li>
                                    <li><a href="~/car/login.html">login</a></li>
                                    <li><a href="~/car/registration.html">registration</a></li>
                                    <li><a href="~/car/error-404.html">404</a></li>
                                </ul>
                            </li>
                            <li class="menu_has_children">
                                <a href="~/car/#0">blog</a>
                                <ul class="sub-menu">
                                    <li><a href="~/car/blog.html">blog page</a></li>
                                    <li><a href="~/car/blog-details.html">blog details</a></li>
                                </ul>
                            </li>
                            <li><a href="~/car/contact.html">contact us</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div><!-- header-bottom end -->
    </header>
    <!--  header-section end  -->
    <!-- inner-apge-banner start -->
    <section class="inner-page-banner bg_img overlay-3" data-background="assets/images/inner-page-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="page-title">reservation</h2>
                    <ol class="page-list">
                        <li><a href="~/car/home-one.html"><i class="fa fa-home"></i> Home</a></li>
                        <li><a href="~/car/#0">car list</a></li>
                        <li>reservation</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <!-- inner-apge-banner end -->
    <!-- car-search-section start -->
   @RenderBody()
    <!-- car-search-section end -->
    <!-- footer-section start -->
    <footer class="footer-section">
        <div class="footer-top pt-120 pb-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-sm-8">
                        <div class="footer-widget widget-about">
                            <div class="widget-about-content">
                                <a href="~/car/home-one.html" class="footer-logo"><img src="~/car/assets/images/logo-footer.png" alt="logo" /></a>
                                <p>Lorem ipsum dolor sit amet, congue placeranec. Leo faucibus sed eleifend bibendum n vehicula nulla mauris nulla ipsum neque sed. Gravida egestas fermentum urna, velit sed. </p>
                                <ul class="social-links">
                                    <li><a href="~/car/#0"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="~/car/#0"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="~/car/#0"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="~/car/#0"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-4">
                        <div class="footer-widget widget-menu">
                            <h4 class="widget-title">our cars</h4>
                            <ul>
                                <li><a href="~/car/#0">mistubishi lancer</a></li>
                                <li><a href="~/car/#0">forester subar</a></li>
                                <li><a href="~/car/#0">mirage ange</a></li>
                                <li><a href="~/car/#0">pajero range</a></li>
                                <li><a href="~/car/#0">subaru liberty</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-4">
                        <div class="footer-widget widget-menu">
                            <h4 class="widget-title">useful link</h4>
                            <ul>
                                <li><a href="~/car/#0">about</a></li>
                                <li><a href="~/car/#0">reservation</a></li>
                                <li><a href="~/car/#0">faq</a></li>
                                <li><a href="~/car/#0">blog</a></li>
                                <li><a href="~/car/#0">car list</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-8">
                        <div class="footer-widget widget-address">
                            <h4 class="widget-title">contact with us</h4>
                            <ul>
                                <li>
                                    <i class="fa fa-map-marker"></i>
                                    <span>Medino, NY 10012, Kitaniya Road Nikamobo Libono USA</span>
                                </li>
                                <li>
                                    <i class="fa fa-envelope"></i>
                                    <span>www.carrentalinfo2457@gmail.com www.oursupport/info@gmail.com</span>
                                </li>
                                <li>
                                    <i class="fa fa-phone-square"></i>
                                    <span>+88014578541-09 , +0885424-542-254 +88047859-4541</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-sm-6">
                        <p class="copy-right-text">©Copyright renten - 2019</p>
                    </div>
                    <div class="col-sm-6">
                        <ul class="payment-method d-flex justify-content-end">
                            <li>We accept</li>
                            <li><img src="~/car/assets/images/money-method/1.png" alt="image" /></li>
                            <li><img src="~/car/assets/images/money-method/2.png" alt="image" /></li>
                            <li><img src="~/car/assets/images/money-method/3.png" alt="image" /></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer-section end -->
    <!-- scroll-to-top start -->
    <div class="scroll-to-top">
        <span class="scroll-icon">
            <i class="fa fa-rocket"></i>
        </span>
    </div>
    <!-- scroll-to-top end -->
    <!-- jquery js link --> 
    <script src="~/car/assets/js/jquery-3.3.1.min.js"></script>
    <!-- jquery migrate js link -->
    <script src="~/car/assets/js/jquery-migrate-3.0.0.js"></script>
    <!-- bootstrap js link -->
<script src="~/car/assets/js/bootstrap.min.js"></script>
@RenderSection("UpperScripts", required: false)
    <!-- lightcase js link -->
    <script src="~/car/assets/js/lightcase.js"></script>
    <!-- wow js link -->
    <script src="~/car/assets/js/wow.min.js"></script>
    <!-- nice select js link -->
    <script src="~/car/assets/js/jquery.nice-select.min.js"></script>
    <!-- datepicker js link -->
    <script src="~/car/assets/js/datepicker.min.js"></script>
    <script src="~/car/assets/js/datepicker.en.js"></script>
    <!-- wickedpicker js link -->
    <script src="~/car/assets/js/wickedpicker.min.js"></script>
    <!-- owl carousel js link -->
    <script src="~/car/assets/js/owl.carousel.min.js"></script>
    <!-- jquery ui js link -->
    <script src="~/car/assets/js/jquery-ui.min.js"></script>
    <!-- main js link -->
<script src="~/car/assets/js/main.js"></script> 
@RenderSection("Scripts", required: false)
</body>

<!-- Mirrored from rexbd.net/html/renten/demo/car-list-one.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 22 Jul 2019 13:20:34 GMT -->
</html>

@*<!DOCTYPE html
          PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">*@

@*<html xmlns="http://www.w3.org/1999/xhtml" class="no-js" lang="en">


<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->

<head>
    <!--Server 43-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Welcome to Khaleej tacos UAE – Order your meal online now!</title>
    <meta name="description" content="Food online delivery service, Order your meal online anywhere in UAE." />
    <meta name="keywords" content="Khaleej tacos, order online, online delivery, sandwiches, meals" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />

    <script type="text/javascript">var isIE = false; var isIE = !!(navigator.userAgent.match(/Trident/) || navigator.userAgent.match(/MSIE/)); if (Object.hasOwnProperty.call(window, "ActiveXObject") && !window.ActiveXObject) { isIE = true; }</script>
    <!--[if IE]>
        <script type="text/javascript">isIE = true;</script>
    <![endif]-->
    <!--combined css file-->
    <link href="~/car/~/css/bootstrap.min.css" rel="stylesheet" />

    <link href="~/car/~/Pizza/Themes/Yum-PizzaHut-Americana-v2/CSS/CssFile.css" rel="stylesheet" />


    <style>
        #homePromoMenuItems {
            padding-right: 0px;
        }
    </style>
    <link href="~/car/~/css/site.css" rel="stylesheet" />
    @RenderSection("css", required: false)
</head>

<body>

    <!-- End Google Tag Manager -->
    <div class="container">
        <div id="wrapper">
            <!--    --------------------------------------Header area--------------------------------------->
            <div class="row" id="headerBlock">
                <br />
                <div class="large-66 medium-66 columns lanBar" style="z-index: 0;">
                    <div class="small-16 smaller-16 columns hide-for-medium-port-up mobMenu"
                         style="max-width: 30px; padding-left: 3px; padding-right: 3px;">
                        <a id="cornerNav" href="~/car/#">
                            <img src="~/car/../Pizza/Themes/Yum-PizzaHut-Americana-v2/Image/img_trans.gif"
                                 style="background: url(../Pizza/Themes/Yum-PizzaHut-Americana-v2/Image/arrows_strloc_cornernav.png) 0 -212px; height:21px; width:24px;" />
                        </a>
                    </div>

                    <span id="welcome_box">
                        @using Microsoft.AspNet.Identity
                        @if (Request.IsAuthenticated)
                        {
                            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                            {
                                @Html.AntiForgeryToken()
                                <ul class="inline-list">
                                    <li><a href="~/car/@Url.Action("MyOrders", "Item")"><small><i class="fa fa-shopping-cart"></i> My Orders</small></a></li>
                                    <li><a href="~/car/javascript:document.getElementById('logoutForm').submit()"><small>LogOut</small></a></li>
                                </ul>

                            }
                        }
                        else
                        {
                            <ul class="inline-list">
                                <li><a href="~/car/@Url.Action("Register", "Account")"><small>Create an Account</small></a></li>
                                <li><a href="~/car/@Url.Action("Login", "Account")"><small>Sign In</small></a></li>
                            </ul>
                        }


                    </span>
                    <ul id="language" class="inline-list lan">
                        <li>
                            <a id="lang_url_en" href="~/car//?lang=en&amp;sub=%2F">
                                <small>
                                    <span class="active_lang">English</span>
                                </small>
                            </a>
                        </li>

                        <li> </li>
                    </ul>
                    <div id="welcomeMsg" class="" style=" margin-bottom: 10px; margin-top: 0px;">
                        <!--<h3 id='homeWelcomeMessage' style='margin-bottom: 0;'>Welcome</h3>--> <br />
                       
                    </div>
                </div>
                <div class="large-33 medium-33 show-for-medium-port-up columns text-right" style="z-index: 4;">
                    <div class="right" style="width: 200px;">


                    </div>
                </div>
                <div class="large-100 medium-100 small-100 smallest-100 columns left">

                    <span id="web-icon" class="hotline">
                        <a href="~/car/tel:600569999" style="color: #ffffff!important">
                            <img src="~/car/~/Pizza/Themes/Yum-PizzaHut-Americana-v2/Image/call_button3.png" class="img_reset" /><span class="callpad"><span>Call Us</span>-</span>+971 4 379 1999
                        </a>
                    </span>
                    <span id="mobile-icon" class="hotline">
                        <a href="~/car/tel:600569999" style="color: #ffffff!important">
                            <img src="~/car/~/Pizza/Themes/Yum-PizzaHut-Americana-v2/Image/call-us-blk.png"
                                 style="margin-top: 10px;width: 50px;" />
                        </a>
                    </span>
                    <span class="taxmsg text-right">*All prices are VAT inclusive</span>
                </div>
                <div class="large-100 medium-100 small-60 smallest-72 columns left">
                    <fieldset id="logofieldset" class="textWithLine">
                        <legend align="center">
                            <a id="home" href="~/car/@Url.Action("Index","Home")">
                                <img id="ph_logo" class="logoview" src="~/car/~/Pizza/Themes/Yum-PizzaHut-Americana-v2/Image/logo.png"
                                     style="background: url(../Pizza/Themes/Yum-PizzaHut-Americana-v2/Image/logo.png)" />
                                <img id="ph_logo" class="logoview2" src="~/car/~/Pizza/Themes/Yum-PizzaHut-Americana-v2/Image/img_trans.gif"
                                     style="background: url(../Pizza/Themes/Yum-PizzaHut-Americana-v2/Image/logo.png)" />
                            </a>
                        </legend>
                    </fieldset>
                </div>

                <!---Welcome msg-->
                <div class="columns">

                </div>
            </div>
            <!----------------------------------------End of Header area--------------------------------------->
            <!----------------------------------------Page area--------------------------------------->
            <div id="upperSubMenu" class="row categoryNavigation isHomePage">
                <div id="main-nav" class="large-12 small-12 columns med-large-90">
                    <ul id="catNavPrimary" class="menunav">
                        <li><a class="mnu-4000021" href="~/car/@Url.Action("Index","Home")">Meals</a> </li>
                        @foreach (var i in categories)
                        {
                            <li><a class="mnu-2" href="~/car/javascript:showList(@i.PetCategoyID);">@i.Name</a> </li>

                        }
                 
                    </ul>
                </div>
            </div>

            <div id="homePageWrapper">
                <!-- Here is the entry for mark ups -->

                <div id="replaceDiv">
                    @RenderBody()
                </div>


            </div>

            <div id="lowerSubMenu" class="row categoryNavigation">
                <div id="main-nav2" class="large-12 small-12 columns">
                    <ul id="catNavPrimary" class="menunav">
                        <li><a class="mnu-4000021" href="~/car/javascript:document._cr_act(47);">Meals</a> </li>
                        @foreach (var i in categories)
                        {
                            <li><a class="mnu-2" href="~/car/javascript:showList(@i.PetCategoyID);">@i.Name</a> </li>
                        }

                    </ul>
                </div>
            </div>
            <div id="homePageWrapper2">
                <div id="homeBanner" style="display: block">
                    <div>
                        <div class="row" id="">
                            <br />
                            <div id="3304f002-5a82-44b7-87a7-842d335afbfa" class="adsContainer submnuundefined">
                                <div class="fakepanelContainer canNotAdd dealItem fakepanelContainerLeft">
                                    <a style="display:block" href="~/car/javascript:document._cr_act(168);">
                                        <div class="fakepanel">
                                            <div class="row" style="width:110%!important;">
                                                <img src="~/car/../Pizza/Images/Promos/Menu4/portf4000061-en.jpg"
                                                     style="width: 100%;height: auto;"
                                                     orgimg="../Pizza/Images/Promos/Menu4/portf4000061-en.jpg" />
                                                <!-- <div class="med-large-66 smallest-100 columns noPadding"> <div class="row right adHome midWidth"> <div class="adFont med-large-33 smallest-50 med-50 small-40 columns noPadding"></div> <div class="med-largeAd Med-Ad small-Ad smallMed-Ad columns noPadding">Pizza</div> </div> </div>-->
                                                <!-- <div class="med-large-33 smallest-100 columns noPadding"> <div class="testhome2"><a href="~/car/javascript:document._cr_act(2);" class="button" style="width: 100%; max-width: 200px;">Order Now</a></div> <div class="testhome2"> <div class='WebItemButton AddToCartBtn'> <a class='continueSpan' href="~/car/javascript:document._cr_act(168);"><span id="PRICE_-4000061_undefined">Order Now</span></a> </div> <a href="~/car/javascript:document._cr_act(169);" class="WebItemButton DealBtn"><span class="continueSpan">Order Now</span></a> <a href="~/car/javascript:document._cr_act(168);" class="WebItemButton DealItemBtn"><span class="continueSpan"><span id="DEALITEMPRICE_-4000061_undefined">Order Now</span></a> <a href="~/car/javascript:document._cr_act(169);" class="WebItemCustomizeLink">Customize</a> </div> </div>-->
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="fakepanelContainer canNotAdd dealItem fakepanelContainerRight">
                                    <a style="display:block" href="~/car/javascript:document._cr_act(174);">
                                        <div class="fakepanel">
                                            <div class="row" style="width:110%!important;">
                                                <img src="~/car/../Pizza/Images/Promos/Menu4/portf4000046-en.jpg"
                                                     style="width: 100%;height: auto;"
                                                     orgimg="../Pizza/Images/Promos/Menu4/portf4000046-en.jpg" />
                                                <!-- <div class="med-large-66 smallest-100 columns noPadding"> <div class="row right adHome midWidth"> <div class="adFont med-large-33 smallest-50 med-50 small-40 columns noPadding"></div> <div class="med-largeAd Med-Ad small-Ad smallMed-Ad columns noPadding">Desserts</div> </div> </div>-->
                                                <!-- <div class="med-large-33 smallest-100 columns noPadding"> <div class="testhome2"><a href="~/car/javascript:document._cr_act(2);" class="button" style="width: 100%; max-width: 200px;">Order Now</a></div> <div class="testhome2"> <div class='WebItemButton AddToCartBtn'> <a class='continueSpan' href="~/car/javascript:document._cr_act(174);"><span id="PRICE_-4000046_undefined">Order Now</span></a> </div> <a href="~/car/javascript:document._cr_act(175);" class="WebItemButton DealBtn"><span class="continueSpan">Order Now</span></a> <a href="~/car/javascript:document._cr_act(174);" class="WebItemButton DealItemBtn"><span class="continueSpan"><span id="DEALITEMPRICE_-4000046_undefined">Order Now</span></a> <a href="~/car/javascript:document._cr_act(175);" class="WebItemCustomizeLink">Customize</a> </div> </div>-->
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" id="footer">
                <div class="large-2 medium-port-3 small-land-12 small-12 columns">
                    <h6 class="show-for-medium-port-up">Order</h6>
                    <ul id="navigation">
                        <li><a class="mnu-4000021" href="~/car/@Url.Action("Index","Home")">Meals</a> </li>
                        @foreach (var i in categories)
                        {
                            <li><a class="mnu-2" href="~/car/javascript:showList(@i.PetCategoyID);">@i.Name</a> </li>

                        }
                     
                    </ul>
                </div>
      
                <div class="large-2 medium-port-3 small-land-12 small-12 columns">
                    <h6>customer services</h6>
                    <ul class="subnav">
                        <li>
                            <a id="contact" href="~/car/@Url.Action("Contact", "Home")">Contact Us</a>
                        </li>
       
                        <li>
                            <a id="faq" href="~/car/@Url.Action("Faq", "Home")">FAQs</a>
                        </li>
                    </ul>

                    <h6>My Account</h6>
                    <ul id="footerUserMenu" class="subnav">
                        <li><a href="~/car/@Url.Action("Register","Account")">Create an Account</a></li>
                        <li><a href="~/car/@Url.Action("Login","Account")" id="footer-sign-in">Sign In</a></li>
                    </ul>
                </div>

                <div class="large-2 medium-port-3 small-land-12 columns">
                    <!--<h6>Nutrition</h6>
                    <ul class="subnav">
                        <li>
                            <a href="~/car/http://www.pizzahut-me.com/sites/all/themes/pizzahut/images/nutritiontable.jpg" class="logoview" target="_blank">Nutrition Information</a>
                            <a href="~/car/http://www.pizzahut-me.com/ar/sites/all/themes/pizzahut/images/nutritiontable.jpg" class="logoview2" target="_blank">Nutrition Information</a>
                        </li>
                    </ul>-->

                    <h6>Policies</h6>
                    <ul class="subnav">
                        <li>
                            <a id="privacy" href="~/car/@Url.Action("Privacy", "Home")">Privacy Policy</a>
                        </li>
                        <li>
                            <a id="terms" href="~/car/@Url.Action("Terms", "Home")">Terms of Use</a>
                        </li>

                    </ul>
                </div>
                <div class="large-4 medium-port-12 small-land-12 small-12 columns">
                    <h6>Connect with Khaleej tacos</h6>
                    <div class="row" id="socialBlock">
                  
                    </div>
        
                </div>
            </div>

            <hr />
            <div class="row text-center" id="tandcs">

                <p class="footerText">
                    Crust availability, prices, participation, delivery areas and charges, and minimum
                    purchase requirements for delivery may vary. Additional charge for extra cheese may apply.<br />©<span class="thisYear"></span>Khaleej tacos, Inc. All rights reserved. The Khaleej tacos name, logos and related marks
                    are trademarks of Khaleej tacos, Inc.<br />PEPSI, PEPSI-COLA, PEPSI MAX and the Pepsi Globe are registered
                    trademarks of PepsiCo, Inc.<br />Twitter is a trademark of Twitter, Inc.<br />All other trademarks are the
                    property of their respective owners.
                </p>
            </div>

            <div class="bottomFixed contain-to-grid" id="dockedBasket">
                <div class="top-bar">
                    <div class="row">
                        <div class="med-50 columns hide-under-med" id="EditOrderModeContainer" style="height: 71px;">
                            <span id="OrderModeType"
                                  style="margin-top: 18px; font-size: 1em; color: #000000; background: #ffd440; padding: 0px 11px; clear: both; display: inline-block; height: 16px; vertical-align: middle; width: 90px">
                                Delivery
                                to
                            </span>
                            <h6 id="DeliveryTitle">Click here to choose your delivery location</h6>
                            <span id="CloseOrderMode" class="CloseEditOrderMode" style="display: none">
                                CLOSE<img src="~/car/~/Pizza/Themes/Yum-PizzaHut-Americana-v2/Image/img_trans.gif"
                                          style="background: url(../Pizza/Themes/Yum-PizzaHut-Americana-v2/Image/arrows_strloc_cornernav.png) 0 0;width: 15px; height: 15px; margin-left: 10px; margin-right: 20px;" />
                            </span>
                            <span id="EditOrderMode" class="btmEditAddress">
                                EDIT<img src="~/car/~/Pizza/Themes/Yum-PizzaHut-Americana-v2/Image/img_trans.gif"
                                         style="background: url(../Pizza/Themes/Yum-PizzaHut-Americana-v2/Image/arrows_strloc_cornernav.png) 0 -50px; width: 15px; height: 15px; margin-left: 10px; margin-right: 20px;" />
                            </span>
                        </div>
                        <div class="med-50 smallest-100 columns" id="basketContainer" onclick="javascript:showMyCart();"
                             style="cursor: pointer">
                            <div id="addedToBasket">
                                <!-- this section is displayed when an item is added to cart, it should contain information about the added item.-->
                                <div id="addedBasketInner">
                                    <div class="row">
                                        <div class="small-12 large-12 columns">
                                            <p class="addedText">Added to your order</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="small-8 large-8 columns">
                                            <p id="addedItemName" style="font-size: 1.2em;"></p>
                                        </div>
                                        <div class="small-4 large-4 columns">
                                            <p>
                                                <span id="addedItemPrice"></span><span style="font-size: 0.7em; margin-left: 15px; margin-right: 15px">
                                                    <a id="delAddedItem" href="~/car/#"
                                                       onclick="$('#addedToBasket').hide(); delFromNotification=true; return true;">Remove</a>
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div id="fb-root"></div>
 
    <div class="page-loader" style="display: none">
        <img class="page-loader-image" src="~/car/~/Pizza/images/loader.gif" />
    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("UpperScripts", required: false)
    <script>


        $(function () {




            $(document.body).on('click',
                '.DivFront',
                function () {
                    $(this).slideToggle();
                    var $Back = $(this).parent().find(".DivBack, .ItemCustomizeSection").slideToggle();
                });

            $(document.body).on('click',
                '.DivBack',
                function () {
                    $(this).slideToggle();
                    var $Back = $(this).parent().find(".DivFront, .ItemCustomizeSection").slideToggle();

                });
            $(document.body).on('click',
                '.item_topping',
                function () {
                    var id = $(this).attr("data-id");
                    var loc = $(this).attr("data-loc");
                    var topId = $(this).attr("data-locId");
                    $("#selectDrop2_" + id).text(loc);
                    $("#selectDrop2_" + id).attr("data-topping-id", topId);

                    console.log(loc);
                });
            $(document.body).on('click',
                '.item_size',
                function () {
                    var id = $(this).attr("data-id");
                    var size = $(this).attr("data-size");
                    var price = $(this).attr("data-size-price");
                    $("#selectDrop_" + id).text(size);
                    $("#selectDrop_" + id).attr("data-pizza-size", size);
                    $("#selectDrop_" + id).attr("data-pizza-price", price);

                    //get current price

                    console.log(size);
                });
            $(document.body).on('click',
                '.CounterUp',
                function () {
                    //get current value
                    var id = $(this).attr("data-id");
                    //current value

                    var curValue = Number($("#QTY_" + id).text());
                    curValue += 1;
                    $("#QTY_" + id).text(curValue);
                    var sizePrice = Number($("#selectDrop_" + id).attr("data-size-price"));

                    var price = Number($("#price_" + id).attr("data-price"));
                    var cumPrice = sizePrice + price;
                    var total = cumPrice * curValue;
                    $("#price_" + id).text(total);
                    console.log("current value", curValue, "id", id);
                });
            $(document.body).on('click',
                '.CounterDown',
                function () {
                    //get current value
                    var id = $(this).attr("data-id");
                    //current value

                    var curValue = Number($("#QTY_" + id).text());

                    if (curValue > 1) {
                        curValue -= 1;
                        $("#QTY_" + id).text(curValue);

                    }
                    var sizePrice = Number($("#selectDrop_" + id).attr("data-size-price"));

                    var price = Number($("#price_" + id).attr("data-price"));
                    var cumPrice = sizePrice + price;
                    var total = cumPrice * curValue;
                    $("#price_" + id).text(total);
                    console.log("current value", curValue, "id", id);
                });

            $(document.body).on('click',
                '.btnMakeOrder',
                function () {
                    //get selected size
                    var id = $(this).attr("data-pId");
                    var size = $(this).parents(".ItemCustomizeSection").find("a.select-size").attr('data-pizza-size');
                    //data-size-price
                    var size_prize1 = Number($(this).parents(".ItemCustomizeSection").find("a.select-size").attr('data-size-price'));
                    var toppingId = $(this).parents(".ItemCustomizeSection").find("a.select-topping")
                        .attr("data-topping-id");
                    var qty = Number($(this).parent().find(".divQty").text());

                    console.log("size:", size, "topping:", toppingId, "qty ", qty);
                    location.href = `/Item/CheckOut/?productId=${id}&qty=${qty}&toppingId=${toppingId}&size=${size}&sizePrice=${size_prize1}`;

                });

        });
    </script>
    <script>
        /// <reference path="../_ref.js" />
        $(function () {

            $("#contactForm").submit(function (event) {
                event.preventDefault();
                // jQuery.ajaxSettings.traditional = true;
                $.ajax({
                    url: $(this).attr("action"),
                    data: $(this).serialize(),
                    type: "post",
                    beforeSend: function () {
                        $("#imgLoad").show();
                        $("button[type='submit']").attr("disabled", true);
                        //    $("button[type='submit']").attr("disabled", true);
                    },
                    complete: function () {
                        $("#imgLoad").hide();

                        $("button[type='submit']").removeAttr("disabled", true);
                    },
                    error: function (err) {
                        $("#myAlert1").slideDown();
                        console.log(err);
                    },
                    success: function (response) {
                        $("#errorSummary ul li").remove();
                        $("#errorSummary").hide();
                        if (response.status === 200) {
                            $("#txtMsg").text(response.message);
                            $("#myModal").modal();

                        }
                        else {
                            $("#errorSummary ul li").remove();
                            $("#errorSummary").hide();
                            response.errors.forEach(function (item, index, array) {
                                $(".validation-summary-errors ul").append("<li>" + item + "<li>");
                                $("#errorSummary ul").append("<li>" + item + "<li>");
                                console.log(item);
                                console.log(index);
                                console.log(array);
                            });
                            //   $(".validation-summary-errors ul li").append("<li> $response.errors. <li>`)

                            $(".validation-summary-errors ul li").show();
                            $("#errorSummary").show();
                        }
                        console.log(response);
                    }
                });

            });

        })
    </script>
    <script type="text/javascript" src="~/car/~/Pizza/MinifiedScripts/ThirdParty4dfa.js?ts=201609031604"></script>

    <script type="text/javascript" src="~/car/~/Pizza/MinifiedScripts/Scripts5894.js?ts=201905151136"></script>
    <script type="text/javascript"
            src="~/car/~/Pizza/MinifiedScripts/Yum-PizzaHut-Americana-v2/ThemeScripts.js"></script>
    <link rel='stylesheet' href='~/Pizza/Themes/Yum-PizzaHut-Americana-v2/Fonts/font_en.css' type='text/css' />



    <script>
        /*!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs'); */
    </script>

    @Scripts.Render("~/bundles/bootstrap")

    <script>
        function showAll() {
            replace("@Url.Action("All", "Item")");
        }
        function showList(id)
        {
            replace("/Item/AllCategoryItem/"+id);

        }
        function showSubList(id, subId) {
            replace("/Item/Sub/?category="+id+"&sub="+subId);
        }
        function replace(url) {
            $.ajax(url,
                {
                    type: "Get",
                    beforeSend: function() {
                        //showModal
                        $(".page-loader").show();
                    },
                    complete: function() {
                        //hide modal
                        $(".page-loader").hide();
                    },
                    success: function(response) {
                        //display content
                        $("#replaceDiv").html(response);
                        console.log(response);
                    },
                    error: function(err) {
                        console.log(err);
                    }

                });
        }
    </script>

    @RenderSection("Scripts", required: false)


</body>


</html>*@

