@using bobbySaxyKennel.Models.ClassModel
@model System.Collections.Generic.List<bobbySaxyKennel.Models.Pet>
@{
    var catgory = new Categories().List();
    var loca = new ToppingService().List();


}
<div id="content" class="site-content">
    <div class="no-wrap">
     
        <div id="primary" class="content-area">
            <main id="main" class="site-main" role="main" tabindex="-1">
                <div class="our-story-img" style="background-image: url('/images/menu-head.jpg');">
                    <div class="page-describer">
                        <h1>Menu</h1>
                        <p>View our Khaleej  Tacos tasty menu and order online.</p>
                    </div>
                </div>
                <div class="ourmenu-dl-links">
                    <ul>
                       @foreach (var i in catgory)
                       {
                           <li class="nuti-lnks">
                               <a class="nuti-aa" href="javascript:showList(@i.PetCategoyID);" title="@i.Description">@i.Name</a>
                           </li>
                       }
                        

                    </ul>
                </div> 
                @*<div class="ourmenu-dl-links">
                    <ul>
                     
                        @foreach (var i in Model)
                        {
                            foreach (var a in i.PetCategory.SubCategories)
                            {
                                <li class="nuti-lnks">
                                    <a class="nuti-aa btn-xs" href="showSubList(@i.PetCategoryID, @a.Id)" title="@i.Description">@i.Name</a>
                                </li>
                            }
                            break;
                        }

                    </ul>
                </div>*@ 
            
                <div class="our-food-full">
                    <ul>
                        @foreach (var i in Model)
                        {
                            <li>
                                <div class="o-food-image" style="background-image: url(@i.ImgLocation);"></div>
                                <div class="color-def">
                                    <div class="mid-sec">
                                        <h2 class="spacer">@i.Name</h2>
                                        @if (Request.Browser.IsMobileDevice)
                                        {
                                            <a class="food-button" href="@Url.Action("Meal", "Item")">Order Now <em class="fa fa-chevron-right" aria-hidden="true"></em></a>
                                        }
                                        else
                                        {
                                            <a class="food-button" href="@Url.Action("Menu", "Item")">Order Now <em class="fa fa-chevron-right" aria-hidden="true"></em></a>
                                        }
                                    </div>
                                    <div class="food-desc">
                                        <p>NGN @i.Amount</p>
                                        <p>@i.Description</p>

                                    </div> 
                                </div>
                            </li>
                        }
                      
                       
                    </ul>
                </div>
            </main>
        </div>
        <div class="footer-sizer" style="clear: both; height: 63.3906px;"></div>
    </div>
</div>
