@model IEnumerable<bobbySaxyKennel.Models.Order>

@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="row" style="text-align: center; padding-top: 100px;">
        <div class="col-md-12">
            <h2> My Orders</h2>
            <table class="table table-responsive table-hover table-striped" style="overflow: scroll">
                <tr class="">
                    <th>Order No</th>
                    <th>Item</th>
                    <th>Detail</th>
                    <th> @Html.DisplayNameFor(model => model.DeliveryAddress) </th>
                    <th> @Html.DisplayNameFor(model => model.AddtionalPhoneNo) </th>
                    <th>
                        Additional Note
                    </th>
                    <td></td>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td># @item.Id</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Pet.Name)
                        </td>
                        <td>
                            Total Cost : AED @item.TotalPrice | Quantity: @item.Quantity<br />
                            Size: @item.SIze <br />
                            @item.ItemDetail <br />
                            Status: @item.Status<br />
                            pickup date: @item.PickupTime <br />

                            Date Ordered: @item.DateTime
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DeliveryAddress)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AddtionalPhoneNo)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.AdditionalNote)
                        </td>

                        @*<td>
                                @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
                                @Html.ActionLink("Details", "Details", new {id = item.Id}) |
                                @Html.ActionLink("Delete", "Delete", new {id = item.Id})
                            </td>*@
                    </tr>
                }

            </table>
        </div>

    </div>

</div>
