@model IEnumerable<bobbySaxyKennel.Models.Order>

@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div>
    <h2>Pending Orders</h2>
    <table class="table">
        <tr>
            <th>
                Order No:
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Customer.User.Email)
            </th>
            <th>Customer Name</th>
            <th>
                Item Name
            </th>
            <th>
                Additional Details
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SIze)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddtionalPhoneNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            if (item.Status == "Pending")
            {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Customer.User.Email)
                        <br />
                        Date Ordered: @item.DateTime
                    </td>
                    <td>
                        @item.Customer.User.FirstName @item.Customer.User.LastName
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pet.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AdditionalNote)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SIze)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.DeliveryAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AddtionalPhoneNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        <a href="@Url.Action("SetOrderStatus", new {id = item.Id, status = "APPROVED"})">Approve</a> |
                        <a href="@Url.Action("SetOrderStatus", new {id = item.Id, status = "DENY"})">DENY</a>|
                        <a href="@Url.Action("DeleteOrder", new {id = item.Id})">Delete</a>|

                    </td>
                </tr>
            }
       
        }

    </table>
</div>
<div>
    <h2> APPROVED Orders</h2>
    <table class="table">
        <tr>
            <th>
                Order No:
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Customer.User.Email)
            </th>
           <th> Customer Name</th>
            <th>
               Item Name
            </th>
            <th>
               Additional Details 
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SIze)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddtionalPhoneNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            if (item.Status == "APPROVED")
            {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Customer.User.Email)
                        <br />
                        Date Ordered: @item.DateTime
                    </td>
                    <td>
                        @item.Customer.User.FirstName @item.Customer.User.LastName
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pet.Name)
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(item.ItemDetail))
                        {
                            <div class="well-sm">
                                Item Option  <br/>
                                @item.ItemDetail
                            </div>
                        }
                      
                        @item.AdditionalNote
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SIze)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.DeliveryAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AddtionalPhoneNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        <a href="@Url.Action("SetOrderStatus", new {id = item.Id, status = "APPROVED"})">Approve</a> |
                        <a href="@Url.Action("SetOrderStatus", new {id = item.Id, status = "DENY"})">DENY</a>

                    </td>
                </tr>
            }

        }

    </table>
</div>
