@model IEnumerable<bobbySaxyKennel.Models.User>

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Users</h2>

<div class="scroll">

</div>
<table class="table table-responsive table-bordered" >
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
       
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
  
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
      
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.ActionLink("Make Seller", "AddSellerFromUser", new { id = item.Id, email = item.UserName }) |
         
            @Html.ActionLink("Delete", "DeleteUser", new { id = item.Id })
        </td>
    </tr>
}

    </tbody>
   


</table>
