@model bobbySaxyKennel.Models.Pet

@{
    ViewBag.Title = "Pet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="top-margin">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Pet Detail</h2>
              
                <div class="mySimpleForm" style="max-width:350px;">
                    <img src="@Model.ImgLocation" class="img-responsive" title="@Model.ImgName" alt="@Model.ImgName" />
                    <div class="pet-content-div">
                        <H5 class="pet-name text-fancy">
                            @Model.Name
                        </H5>
                          <small class="text-fancy">@Model.PetCategory.Name</small>  
                        <p class="pet-des">
                            @Model.Description
                        </p>
                        <p class="pet-amount">
                            
                            <span>  &#8358 @string.Format("{0:N2}", decimal.Floor( Model.Amount), 2) </span>
                        </p>
                        <a href="@Url.Action("SendOrder", "home",  new { petId = Model.PetID, sellerId =Model.SellerID })" id="sendMessage" class="btn btn-hash">
                            Send Order
                        </a>
                    </div>
                
                </div>
            </div>

            <div class="col-md-6">
                <h2>Seller Info</h2>
                <p> <i class="glyphicon glyphicon-user"></i> Name: Richard Cools</p>
                <p><i class="glyphicon glyphicon-inbox"></i> Email : llsjjhd@gmail.com</p>
                <p><i class="glyphicon glyphicon-phone"></i> Phone Number : +2348098736253 &nbsp; <button class="btn btn-xs btn-success"> <i class="glyphicon glyphicon-phone-alt"></i> Call</button></p>
                <div>
                    <button id="btnOpenMsg" class="btn  btn-info">
                        <i><i class="glyphicon glyphicon-inbox"></i> Open Message</i>
                    </button>
                </div>
                <div class="openMsg hide-loder">
                  @Html.Action("SendQuotaMessage","Home", new {sellerId= Model.SellerID, petId=Model.PetID, })
                </div>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModal-label">Notification</h4>
            </div>
            <div class="modal-body">
                <p id="txtMsg"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModal-label1">Notification</h4>
            </div>
            <div class="modal-body">
                <p id="txtMsg1"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Scripts/AppScripts/postWithModel.js"></script>
    <script>
        $(function () {
            $("#btnOpenMsg").click(function (event) {
                event.preventDefault();
                $(".openMsg").slideToggle("slow");
                console.log($(".openMsg").css("display"));
            });
        });
        $(function () {
            var view;
            @if(TempData["view"] != null)
            {
                @:view = @TempData["view"];
            }

            if(view ===200){
                $("#txtMsg").text("@TempData["message"]");
                $("#myModal1").modal();
                   
            }
            else if(view===1){
                $("#txtMsg").text("@TempData["message"]");
                $("#myModal1").modal();
                   
            }
        })
    </script>
}
