@using bobbySaxyKennel.Models.ClassModel
@model System.Collections.Generic.List<bobbySaxyKennel.Models.Pet>
@{
    ViewBag.Title = "Meal";
   
}
<div id="left-third-column" style="overflow: hidden;">
    <div id="left-column-inner">
        <div class="submenus-container">
            <div id="submenu-wrapper" style="height: auto;">
                <ol class="submenus" id="submenus">
                    @foreach (var i in Model)
                    { 
                        var hasOption = i.ItemOptions.Any();
                        var hasSize = i.ItemSizes.Any();
                        <li class="submenu list-item mobile-web-with-image" value="66">
                            <a data-id="@i.PetID" class="menu-item" data-cost="@i.Amount" data-name="@i.Name" data-hasSize ="@hasSize" data-hasOption ="@hasOption">
                                <div class="menu-picture-div submenu-picture-div">
                                    <img class="menu-picture" src="@i.ImgLocation">
                                </div>
                                <span>@i.Name  - ( @i.Amount )
                                <br/> <span class="">@i.Description</span>
                                    </span> 
                                
                                <img class="menu-button-arrow" src="https://nolocdnv.azureedge.net/Content/Static?ContentFile=Images/arrow.png">
                            </a>
                        </li>
                    }
                </ol>
            </div>
        </div>
    </div>
</div>



