@model System.Collections.Generic.List<bobbySaxyKennel.Models.SubCategory>

<table class="table">
    <tr>
        <th>
           Name
        </th>
        <th>
          Description
        </th>
        <th>
            Belongs to 
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PetCategory.Name)
            </td>
            <td>
                <a href="@Url.Action("EditSubCategory","Admin",new {id = item.Id})"> Edit</a>

                <a href="@Url.Action("DeleteSubCategory", "Admin", new {id = item.Id})"> Delete</a>

            </td>
        </tr>
    }

</table>
